<html>
    <head>
        <title>Task App</title>
        <link rel="stylesheet" href="css/dashboard.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="flexbox">
            <div class="displaylist">
                <form action="/profile" method="GET" class="displayuser">
                    <button class="settings"><i class="fa fa-cog" aria-hidden="true"></i></i></button>
                </form>
                <h1 class="listheader">LISTS</h1>
                <form id="myForm" action="#" method="POST">
                    <ul id="listto">
                        <% lists.forEach(function(value) { %>
                            <li onclick="myFunction('<%=value._id%>')"><%=value.name%>
                            </li>
                      <% }) %>
                    </ul>

                </form>
                <form action="/newlist" method="GET">
                    <button class="listbutton">New List</button>
                </form>
            </div>
            <div class="displaytasks">
                <form action="/logout" method="POST" class="logoutuser">
                    <button class="logoutb"><i class="fa fa-sign-out fa-1x" aria-hidden="true"></i></button>
                </form>
                <p>Please select a list from the sidebar</p>
            </div>
        </div>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script src="js/script.js"></script>
    </body>
</html>