<html>
    <head>
        <link rel="stylesheet" href="css/signup.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Task App</title>
    </head>
    <body>
        <div class="signup">
            <h1 class="formheader">Login</h1>
            <form action="/login" method="POST" class="signupform">
                <i class="fa fa-envelope icon"></i>
                <input type="email" name="email" placeholder="Email" class="formdata">
                <i class="fa fa-key icon"></i>
                <input type="password" name="password" placeholder="Password" class="formdata">
                <button class="formbutton">Login</button>
            </form>
            <P class="formtext">Don't have an account? <a href="/signup">Signup</a> now</P>
        </div>
    </body>
</html