@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
html{
    box-sizing: border-box;
}


body{
    background-color: #49AF96;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.listmessage {
    padding: 20px;
    background-color: #ff9800; 
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: 10px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
.flexbox{
    display: flex;
    width: 700px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
}
.displaylist{
    width: 200px;
    height: 450px;
    position: relative;
}
.displaytasks{
    width: 500px;
    height: 450px;
    background-color: #F2F3F9;
    position: relative;
}
.listheader{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 9px;
    letter-spacing: 1.5px;
    color: #49AF96;
}
#listto li{
    list-style: none;
    position: relative;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px 0px;
    font-family: Arial;
    color: #555C85;
    cursor: pointer;
}

#listto li .delete{
    position: absolute;
    display: inline;
    right: 10px;
    display: none;
}

#listto li:hover .delete{
    display: inline;
}

.listbutton {
    position:absolute;
    bottom: 30px;
    padding: 7px 25px;
    margin-left: 20%;
    background-color: #49AF96;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.listbutton:hover{
    transform: translateY(-3px);
    transition: 0.25s;
    box-shadow:  0px 2px 5px #49AF96;
}
.displaytasks p{
    margin-top: 25px;
    margin-left: 27%;
    color: #555C85;
}
.displaylist .displayuser{
    position: absolute;
    right: 10px;
    margin-top: 8px;
}
.displaylist .displayuser button{
    cursor: pointer;
}
.displaytasks .logoutuser{
    position: absolute;
    right: 10px;
    margin-top: 8px;
}

.displaytasks .logoutuser button{
    cursor: pointer;
}
